@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
  padding: 0;
  background: white; }

ul {
  list-style-image: url("../img/arrow.png"); }

.mother {
  background: url("../img/HOMEPhoto2.jpg");
  background-size: 375px 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 600px;
  margin-top: 0;
  position: fixed;
  top: 0;
  background-attachment: fixed; }
  .mother .header img {
    width: 375px; }
  .mother .menuItems div {
    cursor: pointer; }
    .mother .menuItems div:nth-child(1) {
      padding-top: 15px; }
    .mother .menuItems div:nth-child(even) {
      padding-left: 25px; }
    .mother .menuItems div img {
      width: 170px;
      margin-left: 25px;
      margin-bottom: 5px; }
  .mother .footContent {
    font-family: "Oswald", sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: right;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 1.5em; }

.details {
  height: 600px;
  margin-top: 0;
  position: relative;
  top: 0;
  display: none;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 15px; }
  .details .header {
    width: 375px;
    position: relative; }
    .details .header img {
      width: 375px; }
    .details .header .logo {
      position: absolute;
      top: 75px;
      left: 10px; }
      .details .header .logo img {
        width: 255px; }
    .details .header .escape {
      position: fixed;
      top: 5px;
      right: 15px;
      z-index: 50; }
      .details .header .escape img {
        width: 55px; }
    .details .header .yellowBar {
      width: 100%;
      height: 55px;
      background: #EDE929;
      text-align: center; }
      .details .header .yellowBar img {
        width: 170px; }
  .details .detailMother {
    margin-left: 10px; }
    .details .detailMother .detailList li {
      text-transform: uppercase;
      font-size: 2em;
      padding: 10px; }

.agenda {
  height: 600px;
  margin-top: 0;
  position: relative;
  top: 0;
  display: none;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 15px; }
  .agenda .header {
    width: 375px;
    position: relative; }
    .agenda .header img {
      width: 375px; }
    .agenda .header .logo {
      position: absolute;
      top: 75px;
      left: 10px; }
      .agenda .header .logo img {
        width: 255px; }
    .agenda .header .escape {
      position: fixed;
      top: 5px;
      right: 15px;
      z-index: 50; }
      .agenda .header .escape img {
        width: 55px; }
    .agenda .header .yellowBar {
      width: 100%;
      height: 55px;
      background: #EDE929;
      text-align: center; }
      .agenda .header .yellowBar img {
        width: 170px; }
  .agenda .agendaMother {
    margin-left: 10px; }
    .agenda .agendaMother .agendaList li {
      text-transform: uppercase;
      font-size: 2em;
      padding: 10px; }

.speakers {
  height: 600px;
  margin-top: 0;
  position: relative;
  top: 0;
  display: none;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 15px; }
  .speakers .header {
    width: 375px;
    position: relative; }
    .speakers .header img {
      width: 375px; }
    .speakers .header .logo {
      position: absolute;
      top: 75px;
      right: 10px; }
      .speakers .header .logo img {
        width: 195px; }
    .speakers .header .escape {
      position: fixed;
      top: 5px;
      right: 15px;
      z-index: 50; }
      .speakers .header .escape img {
        width: 55px; }
    .speakers .header .yellowBar {
      width: 100%;
      height: 55px;
      background: #EDE929;
      text-align: center;
      z-index: 100; }
      .speakers .header .yellowBar img {
        width: 170px; }
  .speakers .speakerProfiles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    text-align: center; }
    .speakers .speakerProfiles .speaker {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 10px;
      height: 200px;
      background: #f8d2a6;
      width: 200px; }
      @media screen and (max-width: 400px) {
        .speakers .speakerProfiles .speaker {
          width: 150px !important;
          height: 150px !important;
          margin-top: 5px !important;
          margin-bottom: 5px !important;
          margin-left: 5px !important; } }
      .speakers .speakerProfiles .speaker .img {
        width: inherit;
        height: inherit;
        background: #f8d2a6;
        position: relative; }
        .speakers .speakerProfiles .speaker .img img {
          width: 150px; }
        .speakers .speakerProfiles .speaker .img .speakerName {
          display: none;
          width: inherit;
          height: inherit;
          background: rgba(237, 233, 41, 0.9);
          position: absolute;
          top: 0; }
          .speakers .speakerProfiles .speaker .img .speakerName .innerText {
            position: relative; }
            .speakers .speakerProfiles .speaker .img .speakerName .innerText .theSpeakerName {
              padding-top: 10px;
              font-size: 24px;
              line-height: 25px; }
            .speakers .speakerProfiles .speaker .img .speakerName .innerText .speakerCompany {
              font-size: 20px;
              font-style: italic;
              padding-top: 25px;
              padding-bottom: 25px;
              line-height: 25px; }
              @media screen and (max-width: 400px) {
                .speakers .speakerProfiles .speaker .img .speakerName .innerText .speakerCompany {
                  font-size: 15px;
                  padding-top: 5px;
                  padding-bottom: 5px; } }
            .speakers .speakerProfiles .speaker .img .speakerName .innerText .speakerDesc {
              font-size: 16px; }
              @media screen and (max-width: 400px) {
                .speakers .speakerProfiles .speaker .img .speakerName .innerText .speakerDesc {
                  font-size: 10px;
                  line-height: 15px; } }
