@import url( 'https://fonts.googleapis.com/css?family=Oswald');
$oswald: 'Oswald', sans-serif;
$thinkYellow: #EDE929;
$bgColor: white; //mixins for repeated styles
$smallScreen: 500px;
@mixin parentStyle {
    //height: 600px;
    margin-top: 0;
    position: fixed;
    top: 0;
    //background-attachment: fixed;
    display: none;
    background-color: $bgColor;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 15px;
    -webkit-overflow-scrolling: touch;
    z-index: 60;
    //border:1px solid red;
}
@mixin headerStyles($top, $left, $logoWidth) {
    //this mixin is the top of each pages, the logo, the hamburger, the size of the background image.
    min-width: 375px;
    position: relative;

    img {
        width: 100%;
    }

    .logo {
        position: absolute;
        top: $top;
        left: $left;

        img {
            width: $logoWidth;
        }
    }

    .escape {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 75;
        //display: none;
        img {
            width: 55px;
        }
    }

    .yellowBar {
        width: 100%;
        height: 60px;
        background: $thinkYellow;
        text-align: center;
        z-index: 69;

        img {
            width: 170px;
        }
    }
}
//end mixins

body {
    padding: 0;
    background: $bgColor;
}

ul {
    list-style-image: url('../img/arrow.png');
}

.tix {
    font-family: $oswald;
    color: #333;

    button {
        font-family: $oswald;
    }

    .priButton {
        background: #286090;
        text-shadow: none;
        color: white;

        &:hover {
            background: #286090;
            text-shadow: none;
        }
    }
}

.yellowStick {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    float: left;
    z-index: 69;
    display: block;
    width: 100%;
    height: 60px;
    background: $thinkYellow;
    text-align: center;
    z-index: 69;

    img {
        width: 170px;
    }

    .escape2 {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 75;
        //display: none;
        img {
            width: 55px;
        }
    }
}

.yellowUnStick {
    position: relative;
    display: none;
    width: 100%;
    height: 60px;
    background: $thinkYellow;
    text-align: center;
    z-index: -10;

    img {
        width: 170px;
    }
}

.blackOut {
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 90px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20000;
    background: black;
    display: none;
    font-family: $oswald;
}

.mother {
    background: url('../img/HOMEPhoto2.jpg');
    background-size: 375px 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
    margin-top: 0;
    position: fixed;
    top: 0;
    background-attachment: fixed;

    .header {
        img {
            width: 375px;
        }
    }

    .menuItems {
        div {
            cursor: pointer;

            &:nth-child(1) {
                padding-top: 15px;
            }

            &:nth-child(even) {
                padding-left: 25px;
            }

            img {
                width: 170px;
                margin-left: 25px;
                margin-bottom: 5px;
            }
        }
    }

    .footContent {
        font-family: $oswald;
        color: $bgColor;
        text-transform: uppercase;
        text-align: right;
        margin-top: 15px;
        margin-right: 30px;
        font-size: 1.5em;
        position: fixed;
        bottom: 25px;
        right: 15px;
    }
}

.details {
    @include parentStyle;

    .header {
        @include headerStyles(75px, 10px, 255px);
    }

    .detailMother {
        //  text-align:center;
        //margin-top: 275px;
        margin-left: 10px;

        .detailList {
            li {
                text-transform: uppercase;
                font-size: 2em;
                padding: 10px;
            }
        }
    }
}

.tickets {
    @include parentStyle;

    .header {
        @include headerStyles(75px, 10px, 255px);
    }

    .ticketMother {
        //  text-align:center;
        //margin-top: 275px;
        margin-left: 10px;
    }
}

.agenda {
    @include parentStyle;

    .header {
        @include headerStyles(10px, 10px, 255px);
    }

    .agendaMother {
        width: 100%;
        -webkit-transform: translate3d(0, 0, 0);

        .inner {
            height: calc(100% + 1px);
        }

        .agendaEvent {
            div {
                margin-right: 5px;
            }
            vertical-align: middle;
            padding-top: 15px;
            color: black;
            font-family: $oswald;

            .agendaMarker {
                width: 28px;
                height: 30px;
                background: url('../img/arrow.png') no-repeat;
                float: left;
            }

            .time {
                vertical-align: top;
                font-size: 1.3em;
            }

            .agendaDesc {
                vertical-align: top;
                border-bottom: 1px solid $thinkYellow;
                width: 100%;
                margin-bottom: 5px;
                padding-bottom: 15px;

                .eventTitle {
                    word-wrap: break-word;
                    //  font-weight: bold;
                }
            }
        }
    }
}

.speakers {
    @include parentStyle;

    .header {
        @include headerStyles(75px, 175px, 195px);
    }

    .speakerProfiles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 10px;
        text-align: center;
        //border:1px solid red;
        .speaker {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 10px;
            height: 200px;
            //background: #f8d2a6;
            width: 200px;
            @media screen and (max-width:500px) {
                width: 150px !important;
                height: 150px !important;
                margin-top: 5px !important;
                margin-bottom: 5px;
                margin-left: 5px !important;
            }

            .img {
                width: inherit;
                height: inherit;
                //  background: #f8d2a6;
                position: relative;

                img {
                    width: 150px;
                }

                .speakerName {
                    display: none;
                    width: inherit;
                    height: inherit;
                    background: rgba(237,233,41, 0.9);
                    position: absolute;
                    top: 0;

                    .innerText {
                        position: relative; //top:175px;
                        text-shadow: 0 0 0 #000;
                        @media screen and (max-width:500px) {
                            //top:125px;
                        }

                        .theSpeakerName {
                            // margin-top:10px;
                            padding-top: 10px;
                            font-size: 20px;
                            line-height: 25px;
                        }

                        .speakerCompany {
                            font-size: 20px;
                            font-style: italic;
                            padding-top: 25px;
                            padding-bottom: 25px;
                            line-height: 25px;
                            @media screen and (max-width:500px) {
                                font-size: 15px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                            }
                        }

                        .speakerDesc {
                            font-size: 16px;
                            @media screen and (max-width:500px) {
                                font-size: 10px;
                                line-height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sponsoring {
    @include parentStyle;

    .header {
        @include headerStyles(0px, 50px, 195px);
    }

    .sponsorMother {
        width: 100%;
        -webkit-transform: translate3d(0, 0, 0);

        * {
            text-transform: uppercase;
        }

        .sponsorFlex {
            display: flex;
            flex-wrap: wrap;
            -webkit-flex-flow: row wrap;
            justify-content: space-around;
            .sponsorImg{
              width:180px;
            }
        }

        .inner {
            height: calc(100% + 1px);
        }

        .sponsorsNormal {
            margin-top: 25px;
        }

        .presentedBy {
            text-align: center;
            margin-top: 25px;

            .presentedByText {
                font-size: 1em;
                letter-spacing: 2px;
                margin-right: 5px;
                margin-bottom: 15px;
            }
        }

        .sponsors {
            .hostedText {
                font-size: 1em;
            }

            .sponsorText {
                font-size: 1em;
            }

            img {
                margin-bottom: 15px;
            }
        }
    }
}
